[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

wheel = "*"
twine = "*"
docutils = "*"
pygments = "*"
sphinx = ">=1.7.0"
"e1839a8" = {path = ".", editable = true}


[requires]

